<!-- ##module_info #Layout #change_layout -->
<div class="change_layout">
    <ul class="depth01">
        <li>
            <a href="#">header</a>
            <ul class="depth02">
                <li><a href="/index_A.html">header_A</a></li>
                <li><a href="/index_B.html">header_B</a></li>
                <li><a href="/index_C_a.html">header_C_a</a></li>
                <li><a href="/index_C_b.html">header_C_b</a></li>
                <li><a href="/index_D.html">header_D</a></li>
            </ul>
        </li>
        <li>
            <a href="#">header+검색창</a>
            <ul class="depth02">
                <li><a href="/index_search_A.html">header_search_A</a></li>
                <li><a href="/index_search_B.html">header_search_B</a></li>
                <li><a href="/index_search_C.html">header_search_C</a></li>
            </ul>
        </li>
        <li>
            <a href="#">footer</a>
            <ul class="depth02">
                <li><a href="/index_A.html">footer_A</a></li>
                <li><a href="/index_B.html">footer_B</a></li>
                <li><a href="/index_C_a.html">footer_C</a></li>
                <li><a href="/index_D.html">footer_D</a></li>
                <li><a href="/index_E.html">footer_E</a></li>
            </ul>
        </li>
        <li>
            <a href="#">aside</a>
            <ul class="depth02">
                <li><a href="/index_A.html">aside_A</a></li>
                <li><a href="/index_B.html">aside_B</a></li>
                <li><a href="/index_C_a.html">aside_C</a></li>
                <li><a href="/index_D.html">aside_D</a></li>
                <li><a href="/index_E.html">aside_E</a></li>
            </ul>
        </li>
    </ul>
    <button><img src="/SkinImg/img/ico_change_wh.png" alt="change layout"></button>
</div>